/* System Styling */
canvas#star-canvas {
	height: 100%;
	min-width: 100%;
	position:fixed;
	top: 0px;
	left: 0px;
	background-color: #000000;
	overflow: auto;
}

canvas#system-canvas {
	height: 100%;
	min-width: 100%;
	position:fixed;
	top: 0px;
	left: 0px;
	overflow: auto;
}
