.msi-shortcode-highlight {
	color: #ff8833;
}

.msi-function-highlight {
	color: #ff8833;
}

/* Custom Font Awesome Icons */
/* Media */
#adminmenu .menu-icon-media div.wp-menu-image:before {
	font-family: "Font Awesome 5 Free";
	content: "\f87c";
	font-weight: 900;
}
/* Users */
#adminmenu .menu-icon-users div.wp-menu-image:before {
	font-family: "Font Awesome 5 Free";
	content: "\f4fb";
	font-weight: 900;
}
/* Game Pages CPT */
#adminmenu .menu-icon-game-page div.wp-menu-image:before {
	font-family: "Font Awesome 5 Free";
	content: "\f6d1";
	font-weight: 900;
}
/* Ships CPT */
#adminmenu .menu-icon-ships div.wp-menu-image:before {
	font-family: "Font Awesome 5 Free";
	content: "\f197";
	font-weight: 900;
}
/* Mostly Space Settings */
#adminmenu .toplevel_page_MSI_options div.wp-menu-image:before {
	font-family: "Font Awesome 5 Free";
	content: "\f753";
	font-weight: 900;
}
